# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environments
venv/
.venv/
env/
ENV/

# Environment Variables
.env
.env.*

# IDEs
.vscode/
.idea/

# OS Files
.DS_Store

# Logs
*.log

# Node.js
node_modules/

# Coverage
.coverage
.coverage.*
coverage/
htmlcov/
.pytest_cache/

# Build
build/
dist/
*.egg-info/

# Database
*.db

# Redis
*.rdb
*.aof
*.pid

# Type Checkers
.mypy_cache/
.pyre/
.pytype/
.ruff_cache/

# Jupyter
.ipynb_checkpoints/

# Temporary Files
*.tmp
tempCodeRunnerFile.py
